<section class="container d-flex flex-column align-items-center py-2">
  <h5 class="text-light">Blog {{id}}:<a href="/api/blogs/{{id}}" class="link-warning">
      {{title}}</a></h5>
  <p class="text-light">Description: {{body}}</p>
</section>